@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400&family=Roboto:wght@300&display=swap');
.maincontainer{
    width: 850px;
    background-color: #fff;
    display: flex;

    gap: 70px;
    align-items: flex-start;
    padding: 60px 40px;
    border-radius: 10px;
}

.subcontainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}
